.container{
    max-width: 1110px;
    margin: auto;
}
.col-12{
    width: 100%;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.space-between{
    display: flex;
    justify-content: space-between;
    width: 1110px;
}
.relative{
    position: relative;
}
.title{
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}
.title-white{
    padding: 30px 0 20px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.subtitle-white{
    padding-bottom: 45px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.title-h3{
    font-size: 24px;
    line-height: 36px;
    color: #404149;
}
.btn{
    text-align: right;
    outline: none;
    border: none;
    width: 175px;
    height: 50px;
    padding: 14px 15px 14px 0;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;

}