.hero{
    background: url(../../img/hero/bg.png) no-repeat center;
    background-size: cover;
    max-height: 740px;
    margin-bottom: 250px;
}
.hero__title{
    padding-top: 200px;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
}
.hero__description{
    padding-top: 35px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.hero__numbers{
    margin-top: 170px;
    padding:  57px 130px;
    background-color: #fff;
}
.numbers__title,
.numbers__subtitle,
.numbers__description{
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.numbers__title{
    font-size: 72px;
    line-height: 107px;
    color: var(--orange);
}
.numbers__subtitle{
    font-size: 36px;
    line-height: 53px;
}
.numbers__description{
    font-size: 18px;
    line-height: 27px;
    color: var(--gray);
    text-transform: none;
}